* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body{
    margin: 50px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: black;
}

button{
    padding: 10px;
    background-color: rgb(180, 142, 95);
    color: white;
    font-size: 18px;
    border: none;
    margin: 20px 20px 20px 0;

}
